rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /faq/{document} {
      allow read, write;
    }
    match /userinfo/{document} {
    	allow read: if request.auth != null;
      allow create;
    }
    match /forum/{forumName} {
    	allow read, create: if request.auth != null && request.auth.token.email_verified == true
    }
  }
}